.pg_five_container {
  margin-top: 50px;
}
.pg_five_img_para_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pg_five_heading_txt {
  font-size: 30px;
  text-align: right;
  padding-right: 38px;
  font-weight: bold;
}
.hs_search_form_wrapper_pg_five {
  height: 363px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input_group_pg_five {
  width: 569px;
  height: 78px;
  display: flex;
  gap: 1rem;
  border: 1px solid gray;
  padding: 1rem 0.5rem;
  background-color: #ffffff;
}

.input2_pg_five {
  border-left: 2px solid gray;
  padding-left: 0.5rem;
  margin-left: 12rem;
}
.form_title_txt {
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 10px;
}
.sb_btn_hs {
  padding-left: 30px;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .pg_five_img_para_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input_group_pg_five {
    width: 90%;
    height: 78px;
    display: flex;
    gap: 1rem;
    border: 1px solid gray;
    padding: 1rem 0.5rem;
    background-color: #ffffff;
  }
  .input2_pg_five {
    border-left: 2px solid gray;
    padding-left: 0.5rem;
    margin-left: -4rem;
  }
  .pg_five_heading_txt {
    font-size: 30px;
    text-align: center;
    padding-right: 0px;
  }
  .pfi_img_dlr {
    align-self: center;
  }
  .form_title_txt {
    text-align: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .input_group_pg_five {
    width: 90%;
    height: 78px;
    display: flex;
    gap: 1rem;
    border: 1px solid gray;
    padding: 1rem 0.5rem;
    background-color: #ffffff;
  }
  .input2_pg_five {
    border-left: 2px solid gray;
    padding-left: 0.5rem;
    margin-left: 0rem;
  }
}
