.text_Wrapper {
  width: 90%;
  margin: auto;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_section_heading {
  font-size: 45px;
  font-weight: bold;
  line-height: 52px;
  color: #39be4d;
  text-align: center;
}
.text_section_content {
  font-size: 45px;
  font-weight: bold;
  line-height: 60px;
  color: #000000;
  text-align: center;
}
.text_section_span {
  color: #39be4d;
}
@media screen and (max-width: 768px) {
  .text_section_heading {
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    color: #39be4d;
    text-align: center;
  }
  .text_section_content {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    color: #000000;
    text-align: center;
  }
}
/* hhhhh */
