*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .eight-section{
    padding-top: 200px;
  }
  .top_line{
      height: 0.1px;
      width: 100%;
      border-width: 0px;
      color: #707070;
  }
  .heading_eight{
      text-align: center;
      margin-top: 5rem;
      font-weight: bold;
      font-size: 45px;
  }
  .para_eight{
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 5rem;
  }
  .pageeight_detail{
      font: regular;
      font-size: 30px;
  }
  .PageeightImg1{
      height: 467px;
      width: 390px;  
  }
  .PageeightImg2{
    height: 223px;
    width: 335px;  
}
.PageeightImg3{
    height: 223px;
    width: 335px; 
    margin-top: 20px; 
}
.PageeightImg4{
    height: 223px;
    width: 335px;  
}
.PageeightImg5{
    height: 223px;
    width: 335px; 
    margin-top: 20px;  
}
.Pageeightloc{
    height: 79.67px;
    width: 59.75px;
}
.pg8location_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
}
.pg8loc_desc{
    margin-left: 5px;
}
.pg8loc_heading{
    font-size: 20px;
}
.pg8loc_detail{
    font-size: 10px;
    font-style: Light italic;
}


@media only screen and (max-width: 600px){

    .eight-section{
        margin-top: 100px;
        text-align: center;
    }
    .PageeightImg1{
        height: 260px;
        width: 350px;  
    }
    .PageeightImg2{
        height: 260px;
        width: 350px; 
        margin-top: 20px; 
  }
  .PageeightImg3{
    height: 260px;
    width: 350px; 
      margin-top: 20px; 
  }
  .PageeightImg4{
    height: 260px;
    width: 350px; 
    margin-top: 20px; 
  }
  .PageeightImg5{
    height: 260px;
    width: 350px; 
      margin-top: 20px;  
  }
  .pg8location_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
.pageeight_detail{
    font: regular;
    font-size: 18px;
    text-align: justify;
}
.heading_eight{
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
    font-size: 23px;
}
}