* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* .pg_nine_container{
    margin: 10rem 0px;
} */
.nine-section {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.PagenineImg1 {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.imgoverlay {
  display: flex;
  position: relative;
  width: fit-content;
}
.imgoverlay2 {
  display: flex;
  position: relative;
  width: fit-content;
}
.img_box {
  display: flex;
  gap: 3rem;
}
.PagenineImg2 {
  position: absolute;
  bottom: -80%;
  right: -40%;
  z-index: 5;
  width: 250px;
  height: 200px;
}
.PagenineImg3 {
  width: 350px;
  height: 150px;
  object-fit: cover;
}
.PagenineImg4 {
  position: absolute;
  bottom: -80%;
  right: 0;
  height: 200px;
  width: 120px;
  object-fit: cover;
}
.Pagenineloc {
  height: 60px;
  width: 45px;
}
.pg9location_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-left: 30px;
}
.pg9loc_desc {
  margin-left: 5px;
}
.pg9loc_heading {
  font-size: 20px;
  font-weight: bold;
}
.pg9loc_detail {
  font-size: 20px;
  font-style: italic;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .nine-section {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .img_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .PagenineImg1 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .PagenineImg2 {
    position: absolute;
    bottom: -30%;
    right: 0%;
    z-index: 5;
    width: 250px;
    height: 200px;
  }

  .PagenineImg3 {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 10rem;
    margin-left: 0rem;
  }
  .PagenineImg4 {
    position: absolute;
    bottom: -55%;
    left: 0px;
    height: 200px;
    width: 120px;
    object-fit: cover;
  }
  .pg9location_div {
    margin-left: 8rem;
  }
  .Pagenineloc {
    height: auto;
    width: 100%;
  }
  .pg9loc_heading {
    font-size: 20px;
    font-weight: bold;
  }
  .pg9loc_detail {
    font-size: 10px;
    font-style: italic;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .nine-section {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .img_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .PagenineImg1 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .PagenineImg2 {
    position: absolute;
    bottom: -30%;
    right: 0%;
    z-index: 5;
    width: 250px;
    height: 200px;
  }

  .PagenineImg3 {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 10rem;
    margin-left: 5rem;
  }
  .PagenineImg4 {
    position: absolute;
    bottom: -55%;
    left: 0px;
    height: 200px;
    width: 120px;
    object-fit: cover;
  }
  .pg9location_div {
    margin-left: 18rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .nine-section {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .img_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .PagenineImg1 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .PagenineImg2 {
    position: absolute;
    bottom: -30%;
    right: -50%;
    z-index: 5;
    width: 250px;
    height: 200px;
  }

  .PagenineImg3 {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -10rem;
    margin-left: 5rem;
  }
  .PagenineImg4 {
    position: absolute;
    top: 4rem;
    right: -26%;
    height: 200px;
    width: 120px;
    object-fit: cover;
  }
  .pg9location_div {
    margin-left: 13rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .pg_nine_container {
    margin: 15rem 0px;
  }
  .nine-section {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .img_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .PagenineImg1 {
    width: 30vw;
    height: 320px;
    object-fit: cover;
  }
  .PagenineImg2 {
    position: absolute;
    bottom: -70%;
    right: -30%;
    z-index: 5;
    width: 270px;
    height: 270px;
  }

  .PagenineImg3 {
    width: 25vw;
    height: 200px;
    object-fit: cover;
    margin-top: -8rem;
    margin-left: 5rem;
  }
  .PagenineImg4 {
    position: absolute;
    top: 128px;
    right: -0px;
    height: 290px;
    width: 194px;
    object-fit: cover;
  }
  .pg9location_div {
    margin-left: 5rem;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1900px) {
  .pg_nine_container {
    margin: 15rem 0px;
  }
  .nine-section {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .img_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .PagenineImg1 {
    width: 30vw;
    height: 320px;
    object-fit: cover;
  }
  .PagenineImg2 {
    position: absolute;
    bottom: -70%;
    right: -30%;
    z-index: 5;
    width: 270px;
    height: 270px;
  }

  .PagenineImg3 {
    width: 25vw;
    height: 200px;
    object-fit: cover;
    margin-top: -8rem;
    margin-left: 5rem;
  }
  .PagenineImg4 {
    position: absolute;
    top: 128px;
    right: -0px;
    height: 290px;
    width: 194px;
    object-fit: cover;
  }
  .pg9location_div {
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 3000px) {
  .pg_nine_container {
    margin: 15rem 0px;
  }
  .nine-section {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .img_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .PagenineImg1 {
    width: 30vw;
    height: 320px;
    object-fit: cover;
  }
  .PagenineImg2 {
    position: absolute;
    bottom: -70%;
    right: -30%;
    z-index: 5;
    width: 270px;
    height: 270px;
  }

  .PagenineImg3 {
    width: 25vw;
    height: 200px;
    object-fit: cover;
    margin-top: -8rem;
    margin-left: 5rem;
  }
  .PagenineImg4 {
    position: absolute;
    top: 128px;
    right: -0px;
    height: 290px;
    width: 194px;
    object-fit: cover;
  }
  .pg9location_div {
    margin-right: 3rem;
  }
}
