* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.stap_5_wrapper{
  margin-bottom: 50px;
}
.Step5_form_section_wrapper {
  width: 580px;
  margin: auto;
  background-color: #eaeaea;
}
.Step5_form_text {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-top: 30px;
}
.Step5_feilds_wrapper {
  padding: 20px 50px 0px 50px;
}
.Step5_input_field {
  width: 100%;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #707070;
}
.Step5_input_label {
  font-size: 18px;
  color: #000000;
}
input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}
.Step5_Telefoonnummer {
  width: 100%;
  border: 1px solid #707070;
  height: 44px;
  background-color: white;
}
.step2_btn {
  background-color: #39be4d;
  height: 52px;
  width: 211px;
  border: none;
  color: white;
  font-size: 18px;
}
.Step5_btn_arrow {
  font-size: 14px !important;
}

.step5_heading {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .Step5_Telefoonnummer {
    width: 100% !important;
    border: 1px solid #707070;
    height: 44px;
    background-color: white;
  }
  .Step5_input_field {
    width: 100% !important;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #707070;
  }
  .Step5_form_section_wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #eaeaea;
  }
}
@media screen and (max-width: 470px) {
  .Step5_feilds_wrapper {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 510px) {
  .mobile_view {
    flex-direction: column;
  }
}
