.pageFour_para_txt{
    font-size: 28px;
    line-height: 3;
}

.pageFour_img_para_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageFour_para_txt_1{
    font-size: 20px;

}

.pageFour_heading_txt{
    font-size: 30px;
}

@media only screen and (min-width: 300px) and (max-width: 600px){

    .pageFour_img_para_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  .pf_tt{
      font-size: 30px;
      text-align: center;
  }
  .pf_ptxt{
      font-size: 16px;
      text-align: left;
      padding-left: 50px;

  }
  .pf_img_certi{
   align-self: center;   
  }

  .pageFour_para_txt_1{
    font-size: 16px;
    text-align: center;

}
.pageFour_heading_txt{
    font-size: 30px;
    text-align: center;
}
}