.pageT_container {
  margin-top: 50px;
}
.pagetwo_wrapper {
  width: 92%;
  height: 165px;
  background-color: #4670b5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -3px !important;
}

.pagetwo_nav_col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagetwo_nav_txt {
  font-size: 35px;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.hr_line_pageT {
  width: 92%;
  margin-top: 50px;
}

.pageT_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageT_title_txt {
  font-size: 45px;
  padding-top: 100px;
  text-align: left;
  font-weight: bold;
}

.pageT_heading {
  padding-top: 52px;
}

.pageT_heading_txt {
  font-size: 35px;
  font-weight: 600;
}
.pageT_paragraph_icon {
  display: flex;
}
.pageT_icon {
  display: flex;
  align-self: flex-end;
  margin-bottom: 26px;
  margin-right: 26px;
}
.pageT_paragraph_txt {
  font-size: 30px;
}
.pageT_paragraph_txt_2{
  font-size: 30px;
  font-weight: bold;
}

.pageT_paragraph_txt_2_imp{
  color: rgb(24, 24, 226);
}

.hrlin-mb{
  margin-bottom: 50px;
}

@media only screen and (min-width: 300px) and (max-width: 600px){

  .pageT_paragraph_txt {
    font-size: 16px;
  }
  .pageT_icon {
    display: flex;
    align-self: flex-end;
    margin-bottom: 26px;
    margin-right: 16px;
  }
  .pagetwo_wrapper {
    width: 100%;
    height: 165px; 
    margin-left: 0px !important;
  }
  .pagetwo_nav_txt {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
  }
  .pageT_title_txt {
    font-size: 30px;
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
    
  }
  .pageT_heading_txt {
    font-size: 30px;
    text-align: center;
  
  }
  .pageT_paragraph_txt_2{
    font-size: 16px;
    text-align: center;
    padding: 10px 0px 0px 30px;
  }
  .hr_line_pageT {
    width: 100%;
    margin-top: 50px;
   
  }
  
}

@media only screen and (min-width: 600px) and (max-width: 1200px){
  .pagetwo_wrapper {
    width: 100%;
    height: auto;
    background-color: #4670b5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
   
  }
}