.pg_ten_container{
    margin-top: 15rem;
}

.pg_ten_para_txt{
    font-size: 30px;
    padding: 100px 50px;
    font-weight: bold;
}


@media only screen and (min-width: 300px) and (max-width: 600px){
    .pg_ten_para_txt{
        font-size: 12px;
        padding: 10px 10px;
        text-align: center;
    }
    
}